                  <!-----slider start------->
                     <section class="banner">
                        <owl-carousel-o [options]="customOptions">
                          <ng-template carouselSlide><img [src]="image1" style="border: 10px solid white;"></ng-template>
                          <ng-template carouselSlide><img [src]="image2" style="border: 10px solid white;"></ng-template>
                          <ng-template carouselSlide><img [src]="image3" style="border: 10px solid white;"></ng-template>
                          <ng-template carouselSlide><img [src]="image4" style="border: 10px solid white;"></ng-template>
                          <ng-template carouselSlide><img [src]="image5" style="border: 10px solid white;"></ng-template>
                          <ng-template carouselSlide><img [src]="image6" style="border: 10px solid white;"></ng-template>
                        </owl-carousel-o>
                      </section>
                  <!-----slider end------->


                  <!-----badges start------->
                          <div class="banner2">
                            <div class="row">
                              <div class="col">
                                <h1>1000+</h1>
                                <p>Cities</p>
                              </div>
                              <div class="col">
                                <h1>7000+</h1>
                                <p>Updates</p>
                              </div>
                              <div class="col">
                                <h1>9000+</h1>
                                <p>News</p>
                              </div>
                            </div>
                          </div>
                  <!-----badges Ends------->

                 <!-----photo gallery starts------->
                        <div class="container">
                          <h1 class="heading">Latest Updates</h1>
                          <div class="gallery">
                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img1">
                            </div>

                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img2">
                            </div>

                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img3">
                            </div>

                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img4">
                            </div>

                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img5">
                            </div>

                            <div class="gallery-item">
                              <img class="gallery-image" [src]="img6">
                            </div>
                          </div>
                        </div>
                   <!-----photo gallery Ends------->

                   <!-----color Cards Ends------->
                          <section class="banner3">
                            <h2>OUR SUITE OF Communication Platform</h2>
                            <div class="container1">
                              <div class="row">
                                <div class="col-1">
                                  <p>End-to-End Creative Support</p>
                                </div>
                                <div class="col-2">
                                  <p>Marketing & E-mail Guidance</p>
                                </div>
                                <div class="col-3">
                                  <p>Bulk SMS Communication</p>
                                </div>
                              </div>
                            </div>
                          </section>
                  <!-----color Cards Ends------->


                    <!-----Grid Cards start------->
                        <div class="container2">
                          <div class="col">
                            <div class="d-flex flex-wrap justify-content-between">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs1" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">New Pakistan government not to indulge in 'politics of revenge': Shehbaz Sharif</p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs2" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">Non-merit poll freebies are promisorry notes at taxpayers expense</p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs3" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">'Vote bank politics in international relations': India slams US report on attacks on
                                    minorities</p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs4" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">Bjp Will oppose family politics even at cost of losing seats</p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs5" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">Retirement age cannot be fixed in politics: Sumitra Mahajan</p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"><img [src]="imgs6" style="width: 15%;border-radius: 100%;height: 80px;"></h5>
                                  <p class="card-text">At Ground Zero of Dalit Politics in Punjab, </p>
                                  <a class="btn">Go and Read</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
              <!-----Grid Cards Ends------->

              <!-----Short Cards Design Start------->
                    <section class="wrapper-full tab-container effectTab-header" id="style_8">
                      <div class="wrapper tab-item">
                        <div class="custom-row">
                          <div class="wrapper" style="align-items: center;">
                            <h1 class="title">News Contact and Updates</h1>
                          </div>
                          <div class="column-12 column-xs-12 tab">
                            <div class="custom-row">

                              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                                <div class="effect grid-width3 effect-eight">
                                  <img [src]="new1" class="img-fluid">
                                  <div class="tab-text">
                                    <!--<p>Due to heavy rain</p>-->
                                  </div>
                                </div>
                              </div>
                              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                                <div class="effect grid-width3 effect-eight">
                                  <img [src]="new2" class="img-fluid">
                                  <div class="tab-text">
                                    <!--<p>Narendra Modi's visit..</p>-->
                                  </div>
                                </div>
                              </div>
                              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                                <div class="effect grid-width3 effect-eight">
                                  <img [src]="new3" class="img-fluid">
                                  <div class="tab-text">
                                    <!--<p>BJP Party</p>-->
                                  </div>
                                </div>
                              </div>

                              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                                <div class="effect grid-width3 effect-eight">
                                  <img [src]="new4" class="img-fluid">
                                  <div class="tab-text">
                                    <!--<p>increase in case</p>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            <!-----Short Cards Design Ends------->
                    </section>