
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="text">
                <h2>Forgot Password</h2>
                <p>
                 Please Enter Your Registred Email Where <br>
                 We Will you reset Password link 
                <br>
                </div>

                <form>
                    <div class="form-group">
                        Email
                        <input type="email" id="email" placeholder="Email Address" class="form-control" formControlName="email"
                            name="email" />
                    </div>

                   
                   <div class="btn"><a href="#">Reset Password Link</a></div>
                </form>
            </div>
            <div class="card-footer">
                <p> ohh I remember <small><a routerLink="../login"><span style="background-image: linear-gradient(310deg,#2152ff,#21d4fd); -webkit-text-fill-color:transparent; -webkit-background-clip: text;cursor: pointer;background-clip: text;"> Back to login</span></a></small>
                </p>
            </div>
        </div>
    </div>
</div>


