<div class="container pt-5 mt-5">
     <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 class="text-center">
                        Oops!
                    </h1>
                    <h2 class="text-center">
                        404 Not Found
                    </h2>
                    <div class="error-details text-center">
                        Sorry, an error has accured,  Requested page not found
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="error-actions text-center">
                        <a routerLink="/" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>Take Me Home
                        </a><a routerLink="/" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-envelope"></span>Contact Support
                        </a>
                    </div>
                </div>
            </div>
     </div>
</div>
