            <!-----------1 column start-------------->
                            <section class="banner">
                                <div class="container1">
                                    <div class="row">
                                        <div class="container">
                                            <div class="col">
                                                <div class="content">
                                                    <div class="col-1">
                                                        <div class="col-a">
                                                            <h1>Hello</h1>
                                                            <h2>I am Muskan Salmani</h2>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="a">
                                                            <div class="b">
                                                                <div class="img-container">
                                                                    <img [src]="url" width="100%" height="400px"
                                                                        style="border: 1px solid #91fa08;border-radius: 3px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    <!-----------1 column End-------------->

             <!-----------2 column start-------------->
                    <div class="row2">
                        <div class="col-3">
                            <h1>About</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa obcaecati eum eaque. Quo autem
                                laborum labore ipsa, magnam consequatur praesentium! Aliquid ea tenetur architecto culpa labore debitis
                                animi quasi.</p>
                        </div>
                        <div class="row3">
                            <div class="col-a"><img [src]="url" width="100%" height="400px"></div>
                            <div class="col-b">
                                <h1>UI/UX Designer & Web Developer.</h1><br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, commodi quaerat? Id ullam sunt
                                    expedit cupiditate exercitationem optio soluta, deserunt eius recusandae quam? Optio mollitia quos
                                    magni at, ipsa vero?</p>
                    
                                <div class="col-d">
                                    <div class="col-a">
                                        <li>Birthday:<span>26/April/2001</span></li>
                                        <li>Website:<span>26/April/2001</span></li>
                                        <li>Phone No:<span>7042312560</span></li>
                                    </div>
                    
                                    <div class="col-b">
                                        <li>Age:<span>21</span></li>
                                        <li>City:<span>Delhi</span></li>
                                        <li>Freelance:<span>2+</span></li>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-----------2 column End-------------->


       <!-----------3 column start-------------->
                            <div class="col-4">
                                <div class="col-a">
                                    <h1>Facts</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, commodi quaerat? Id ullam sunt
                                        expedit cupiditate exercitationem optio soluta, deserunt eius recusandae quam? Optio mollitia quos
                                        magni at, ipsa vero?</p>
                                </div>
                                <div class="col-b">
                                    <div class="col-1">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                                        <h2>232</h2>
                                        <p>Happy Clients</p>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-address-book" aria-hidden="true"></i></span>
                                        <h2>521</h2>
                                        <p>Projects</p>
                                    </div>
                                    <div class="col-3">
                                        <span><i class="fa fa-headphones" aria-hidden="true"></i></span>
                                        <h2>1453</h2>
                                        <p>Hours Of Support</p>
                                    </div>
                                    <div class="col--4">
                                        <span><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                        <h2>32</h2>
                                        <p>Hard Workers</p>
                                    </div>
                                </div>
                            </div>
         <!---------3 column end-------->


                <!------4 column start------->
                            <div class="col-5">
                                <div class="col-a">
                                    <h1>SKILLS</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        expedit cupiditate exercitationem optio soluta, deserunt eius recusandae quam? Optio mollitia quos
                                        magni at, ipsa vero?</p>
                                </div>
                                <div class="col-b">
                                    <div class="col-1">
                                        <h2>HTML</h2> 
                                        <h2>Css</h2>
                                        <h2>Javascript</h2>
                                        <h2>Ajax</h2>
                                    
                                    </div>
                                    <div class="col-2">
                                        <h2>Bootstrap v-4,5</h2>
                                        <h2>Angular v-12</h2>
                                        <h2>Json</h2>
                                        <h2>Sass</h2>
                                    </div>
                                </div>
                            </div>
                <!---------4 column end--------->


                    <!---------5 column start--------->
                        <div class="col-6">
                            <div class="col-a">
                                <h1>Resume</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    expedit cupiditate exercitationem optio soluta, deserunt eius recusandae quam? Optio mollitia quos
                                    magni at, ipsa vero?</p>
                            </div>
                            <div class="col-b">
                                <div class="col-1">
                                    <h4>Education</h4>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>X CBSE 2016 | (S.K.V) Ranjeet
                                        Nagar</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>XII CBSE 2018 | (S.K.V)
                                        Ranjeet Nagar</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>B.A | Kalindi College Delhi
                                        University</p>
                                </div>

                                <div class="col-2">
                                    <h4>achievement</h4>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Got certificate for
                                        completing online course of JavaScript projects | Great Learning Academy.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Got certificate for
                                        successfully completed the quiz on web designing & development | Itronix Solutions.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Got Certificate in Content
                                        Writing from Delhi University.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Got certificate for completing
                                        Database Management System online course | Great Learning Academy.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Got certificate for completing
                                        Ecommerce Website with HTML and CSS online course | Great Learning Academy.</p>
                                </div>
                                <div class="col-3">
                                    <h4>Projects</h4>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>website design with login or
                                        logout. <br> (Bootstrap v-5, Angular v-12, HTML, CSS).</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>API based project.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Portfolio website based
                                        project.</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Full Stack projects. <br>
                                        (with data base (CRUD operation))</p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Javascript games and little
                                        projects.</p>
                                </div>
                                <div class="col--4">
                                    <h4>ADVANCE QUALIFICATION:</h4>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Computer Operating <br> (NCI)
                                    </p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Web Designing in HTML, <br>
                                        CSS from (IICT)
                                        <!--(INDIAN INSTITUTE OF COMPUTER TECHNOLOGY).-->
                                    </p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Computer Accounting <br> from
                                        (NCI)
                                        <!--(NICE COMPUTER INSTITUTE)-->.
                                    </p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>JAVASCRIPT from <br> (PC)
                                        <!--(PERFECT PC)-->.
                                    </p>
                                    <p><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Knowledge of Frameworks:<br>
                                        Angular.js v-12, <br> Bootstrap 4, 5.</p>
                                </div>
                            </div>
                        </div>
                 <!---------5 column end--------->

                 <!---------6 column start-------->
                                <div class="col-7">
                                    <div class="col-a">
                                        <h1>Contact</h1>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius
                                            quaerat dolores nesciunt. Ducimus consectetur deleniti
                                            corporis enim at nostrum.</p>
                                    </div>
                                    <div class="col-b">
                                        <div class="col-a">
                                            <div class="col-1">
                                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                <li style="color: black;">Location:</li>
                                                <p>2151T2/3 New Patel Nagar</p>
                                            </div>
                                            <div class="col-2">
                                                <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                                <li>Email:</li>
                                                <p>muskansalmani633@gmail.com</p>
                                            </div>
                                            <div class="col-3">
                                                <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                                <li>Call:</li>
                                                <p>7042312560</p>
                                            </div>

                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28009.87573027107!2d77.14992390491342!3d28.65269743463748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02ec77443acb%3A0xc3e201a78b8d9851!2sPatel%20Nagar%2C%20New%20Delhi%2C%20Delhi%2C%20India!5e0!3m2!1sen!2sbg!4v1659819579367!5m2!1sen!2sbg"
                                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"
                                                style="border:0; width: 100%; height: 290px;margin-top: 0px;margin-bottom:30px;">
                                            </iframe>
                                        </div>

                                        <div class="login-page">
                                            <div class="form">
                                                <div class="login">
                                                    <div class="login-header">
                                                        <h3>Contact Me</h3>
                                                    </div>
                                                </div>
                                                <form class="login-form">
                                                    <input type="text" placeholder="Your Name" />
                                                    <input type="password" placeholder="Your Email" />
                                                    <input type="password" placeholder="Subject" />
                                                    <textarea placeholder="Message" class="message"></textarea>
                                                    <button>Send Message</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                    <!---------6 column end-------->
                        </section>